@media (max-width: 1200px) {

    .forms{
        margin: 100px 0 500px;
        color: var(--font-color);
    }

    .forms form {
        width: 100%;
        justify-content: space-between;
    }

    .forms .contact-inf{
        margin-top: 20px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 100%;
        right: 0;
    }

}

@media (max-width: 500px) {

    .forms .contact-inf .txt {
        margin-left: 15px;
    }
}