@media (max-width: 1200px) {

    .forms{
        margin: 100px 0 0px;
        color: var(--font-color);
    }

    .forms form {
        width: 100%;
        justify-content: space-between;
    }

    .forms .contact-inf{
        padding: 50px 0 0;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 100%;
        right: 0;
    }

    .forms .contact-inf .wrapper{
        padding: 80px 0 0;
    }

    .forms .form-item:after{
        display: none;
    }
    

}

@media (max-width: 500px) {

    .forms .contact-inf .txt {
        margin-left: 15px;
    }
}