@media (max-width: 992px){

    .gallery .box .box-content {
        background-color: var(--box-color);
        transition: box-shadow 0.5s;
    }
    
    .gallery .box {
        width: calc(100%/3);
    }

    .gallery.boxes{ 
        justify-content:space-evenly;
    }

}

@media (max-width: 500px){

    .gallery .box .box-content {
        background-color: var(--box-color);
        transition: box-shadow 0.5s;
    }
    
    .gallery .box {
        width: 50%;
    }

    div.boxes {
        justify-content: space-evenly;
    }

    .gallery ul {
        justify-content: space-evenly;
        padding: 0;
    }

}

@media (max-width: 350px){

    .gallery .box .box-content {
        background-color: var(--box-color);
        transition: box-shadow 0.5s;
    }
}