:root {
  --first-collor: #ff2d2d;
  --hdr-ban-collor: #f6f2f2;
  --font-color: #585858;
  --width: 1200px;
  --img-size: 35px;
  --box-color: #f5f0dd;
  --shadow: 0 0 20px rgb(134, 134, 134);
  --nav-collor: #313030;
  --ident-forms: 50%;
}