header {
    padding: 30px 0;
    background-color: var(--hdr-ban-collor);
}


header nav {
    background-color: var(--nav-collor);
    padding: 0;
}

header nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 25px 25px;
    display: inline-block;
    transition: background-color 0.5s;
}

header nav a:hover {
    background-color: var(--first-collor);
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

header nav ul li ul.dropdown {
    display: none; 
    position: absolute;
}


header nav ul:not(.dropdown) li {
    position: relative;
}

header nav ul li:hover ul.dropdown {
    display: block;
    width: 100%;
    text-align: center;
}

header nav ul.dropdown li {
    background-color: var(--nav-collor);

}

header nav ul.dropdown li a {
    display: block; 
} 